server:
  port: 80

spring:
  datasource:
    url: jdbc:mysql://10.102.42.203:3306/lesson-cloud
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false